.card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 450px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    padding: 1rem; 
}

.col-md-4 {
    margin-bottom: 1rem; 
}

.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
